* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

button,
input,
a {
  all: unset;
}

a,
button,
.search-input {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

header {
  background: #1c181d;
  height: 4rem;
  position: relative;
}

.header {
  position: relative;
  background: #1c181d;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  width: calc(100vw - 17px);
  margin: 0 auto;
  height: 4rem;
  gap: 5px;
}

.desktop-logo,
.hide {
  display: none;
}

.search-input {
  padding: 8px;
  background: #303030;
  border-radius: 8px;
  border: 1px solid #616161;
  width: 65%;
}

.search-input:hover {
  border: 1px solid #e1e1e1;
}

.search-input:active,
.search-input:focus {
  border: 2px solid #fff;
}

.search-input input {
  width: 80%;
  margin: 0 0 0 5px;
  color: white;
}

.search-input input::placeholder {
  color: #b5b5b5;
  font-weight: 500;
}

.end {
  gap: 5px;
}

.bell {
  margin: 0 10px;
}

.end .bell:hover,
button.user:hover,
.end .bell:active,
button.user:active {
  background: #616161;
}

.end .bell:focus,
button.user:focus {
  background: #656266;
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.notify {
  background: #ffffff;
  width: 100%;
  right: 0;
  max-width: 400px;
  top: 65px;
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.notify > div {
  justify-content: space-between;
  margin: 0 0 16px;
}

.notify > div > div {
  gap: 16px;
}

.notify > div > div button:focus {
  border-radius: 4px;
  border: 1px solid #005bd3;
}

.notify p {
  text-align: center;
  color: #303030;
  font-weight: 600;
  padding: 16px;
  background: #f1f1f1;
}

button.user,
.user-details {
  border-radius: 8px;
  background: #303030;
  color: #00000066;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
}

.profile-img {
  border-radius: 8px;
  background: #36fba1;
  padding: 8px 7px;
}

.dropdown {
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  background: #fff;
  right: 0;
  top: 65px;
  width: 100%;

  max-width: 320px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.user-details {
  background: #f1f1f1;
  gap: 8px;
  padding: 6px;
}

.username {
  font-weight: 600;
  color: #303030;
}

.user-details svg {
  margin-left: auto;
}

menu li {
  list-style: none;
  margin-top: 6px;
}

menu li a {
  padding: 6px;
  border-radius: 8px;
  color: #303030;
  display: block;
}

menu li a:hover {
  background: #f1f1f1;
}

menu li a:focus {
  border-radius: 8px;
  border: 2px solid #005bd3;
}

menu li ul {
  padding: 0 6px 6px;
}
.gap-8 {
  gap: 8px;
}

.line {
  border: 1px solid #e1e1e1;
  border-width: 1px 0;
  border-radius: 0;
  padding-block: 10px;
  margin: 0;
  cursor: default;
}

.top-menu:hover,
.bottom-menu:hover,
.line:hover {
  background: none;
}

li.mail {
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
}

li.mail .name {
  font-weight: 500;
}

li.mail .address {
  font-size: 12px;
}

main {
  padding-top: 25px;
  background: #f1f1f1;
}

.announcement {
  background: #1a1a1a;
  font-weight: 500px;
  color: #e3e3e3;
  padding: 12px 8px 12px 16px;
  align-items: flex-start;
}

.announcement p {
  gap: 16px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.announcement p button {
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  font-weight: 600;
  color: #323232;
  padding: 6px 12px;
}

.announcement p button:hover,
.announcement p button:active {
  background: #f7f7f7;
}

.announcement p button:focus {
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.announcement button {
  padding: 8px 0;
}

.guide {
  background: #ffffff;
  padding: 8px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
  color: #303030;
}

.guide h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.guide .text {
  align-items: flex-start;
  margin: 0 0 20px;
  padding: 8px;
}

.guide .text div > p {
  margin-bottom: 10px;
}

.progress {
  gap: 8px;
}

progress {
  border-radius: 7px;
  width: 72px;
  height: 4px;
}

progress::-webkit-progress-bar {
  background-color: #e3e3e3;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #1a1a1a;
  border-radius: 7px;
}

.sub-section {
  border-radius: 10px;
  background: #f3f3f3;
  padding: 8px 8px 12px 8px;
}

.desc {
  align-items: flex-start;
  gap: 8px;
}

.desc-texts {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.desc-texts summary {
  font-weight: 600;
}

.desc-texts p {
  font-weight: 500;
  line-height: 18.2px;
}

.desc-texts p a {
  color: #005bd3;
  font-size: 14px;
}

.desc-texts p a:hover {
  text-decoration: underline;
}

.desc-texts .btn1 {
  border-radius: 6px;
  padding: 6px 12px;
  color: #f6f3f6;
  border-top: 1.5px solid rgba(255, 255, 255, 0.2);
  border-right: 1.5px solid rgba(255, 255, 255, 0.2);
  border-left: 1.5px solid rgba(255, 255, 255, 0.2);
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}

.desc-texts .btn1:hover {
  background: #2a2a2a;
}

.desc-texts .btn1:active {
  background: #2b2b2b;
}

.desc-texts .btn1:focus {
  background: #404040;
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}

.desc-texts .btn2 {
  margin-left: 20px;
  color: #323232;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 6px;
}

.desc-texts .btn2:hover {
  background: #e7e7e7;
}

.desc-texts .btn2:active {
  background: #e0e0e0;
}

.desc-texts .btn2:focus {
  border: 2px solid #005bd3;
  background: #fff;
}

@media screen and (min-width: 991px) {
  .header {
    justify-content: space-between;
    padding: 0 10px;
  }

  .header .mobile-logo {
    display: none;
  }

  .desktop-logo,
  .desc-img {
    display: block;
  }

  .search-input {
    width: 30%;
  }

  input {
    flex: 1 0 0;
  }

  .end .bell {
    background: #303030;
    padding: 8px;
    border-radius: 8px;
  }

  .user {
    gap: 8px;
    background: #303030;
    padding: 2px 2px 2px 8px;
  }

  .user .name {
    color: #e3e3e3;
    padding: 8px 5px 8px 8px;
    display: block;
  }

  .main {
    max-width: 49.75rem;
    margin: 0 auto;
  }

  .announcement {
    gap: 10px;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
  }

  .announcement p {
    width: 100%;
    align-items: center;
    flex-direction: row;
  }

  .guide {
    border-radius: 18px;
  }

  .text {
    justify-content: space-between;
  }
}
